/* Animation for scrolling */
@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

.animate-scroll {
    animation: scroll 10s linear infinite;
}

body {
    background-color: black;
}

/* Grid layout */
.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
}

.grid-row {
    display: flex;
    justify-content: space-around;
}

.grid-row img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

/* Navigation styles */
nav {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: baseline;
    align-content: space-around;
}

footer {
    display: flex;
    align-content: space-around;
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;
}

/* Image row styles */
.image-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    margin-top: 50px;
}

.iconfooter {
    width: 40px;
}

/* Search bar styles */
#category-nav {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#search-form {
    margin-top: -60px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-radius: 30px;
}

#search-input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 50px;
    width: 200px;
    font-size: 16px;
    outline: none;
}

#search-button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: orange;
    color: white;
    cursor: pointer;
}

#movie-browser {
    margin: 30px 20px;
    font-size: 30px;
}

.release-date, .movie-title {
    color: white;
}

/* Overlay styles */
.container {
    position: relative;
    width: 50%;
}

.image {
    display: block;
    width: 100%;
    height: auto;
}

.overlay {
    position: absolute;
    top: 0;
    left: -100%;
    background-color: #008CBA;
    overflow: hidden;
    height: 100%;
    width: 100%;
    transition: .9s ease;
}

.container:hover .overlay {
    left: 0;
}

/* Search container styles */
#search-container {
    text-align: center;
    margin-top: 20px;
}

#search-form {
    display: inline-block;
}

#search-input {
    padding: 10px;
    font-size: 16px;
}

#img-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

.image-container {
    margin: 10px;
    text-align: center;
}

.movie-poster {
    width: 200px;
    height: auto;
}

.movie-title {
    margin: 10px 0 5px;
}

.release-date {
    margin: 0;
}
