/* Animation for scrolling */
@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

.animate-scroll {
    animation: scroll 10s linear infinite;
}

body {
    background-color: black;
}

/* Grid layout */
.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
}

.grid-row {
    display: flex;
    justify-content: space-around;
}

.grid-row img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

/* Navigation styles */
nav {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: baseline;
    align-content: space-around;
}


/* Footer styles */
.footer {
    display: flex;
    flex-direction: row; /* Les éléments enfants seront disposés en ligne (côte à côte) */
    flex-wrap: nowrap; /* Les éléments ne passeront pas à la ligne suivante */
    justify-content: space-evenly; /* Espace égal entre les éléments */
    align-items: center; /* Centrer les éléments verticalement */
    background-color: #333; /* Couleur de fond du footer */
    padding: 20px; /* Espacement interne pour le footer */
}
#movie-browser {
    display: flex;
    align-items: center;
}

#movie-browser span {
    font-size: 1.5em;
}
/* Icon styles */
.iconfooter {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    color: white; /* Couleur du texte ou des icônes */
    // border-radius: 50%; /* Faire des icônes rondes */
}

/* Image row styles */
.image-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    margin-top: 50px;
}
// .iconfooter {
//     width: 40px;
// }


/* Search bar styles */
#category-nav {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#search-form {
    margin-top: -60px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-radius: 30px;
}

#search-input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 50px;
    width: 200px;
    font-size: 16px;
    outline: none;
}

#search-button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: orange;
    color: white;
    cursor: pointer;
}

#movie-browser {
    margin: 30px 20px;
    font-size: 30px;
}

.release-date, .movie-title {
    color: white;
}

/* Overlay styles */
.container {
    position: relative;
    width: 50%;
}

.image {
    display: block;
    width: 100%;
    height: auto;
}

.overlay {
    position: absolute;
    top: 0;
    left: -100%;
    background-color: #008CBA;
    overflow: hidden;
    height: 100%;
    width: 100%;
    transition: .9s ease;
}

.container:hover .overlay {
    left: 0;
}

/* Search container styles */
#search-container {
    text-align: center;
    margin-top: 20px;
}

#search-form {
    display: inline-block;
}

#search-input {
    padding: 10px;
    font-size: 16px;
}

/* Container for movie images */
#img-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

.image-container {
    margin: 10px;
    text-align: center;
    flex: 1 1 calc(50% - 20px); /* Adjust the width for mobile view */
    box-sizing: border-box;
}

.movie-poster {
    width: 100%;
    height: auto;
}

.movie-title {
    margin: 10px 0 5px;
}

.release-date {
    margin: 0;
}

/* Adjust layout for larger screens */
@media (min-width: 768px) {
    .image-container {
        flex: 1 1 calc(33.333% - 20px); /* 3 columns for tablets */
    }
}

@media (min-width: 1024px) {
    .image-container {
        flex: 1 1 calc(25% - 20px); /* 4 columns for desktops */
    }
}